.cards
	margin-top: 20px
	display: flex
	flex-wrap: wrap
	justify-content: center

.card
	margin: 10px 5px
	width: 150px
	display: block
	// height: 220px
	overflow: hidden
	// box-shadow: $boxShadow

	a:hover
		text-decoration: none
	
	@include tablet
		width: 200px
		// height: 280px

	&__image
		position: relative

		&:before
			content: ""
			display: block
			padding-top: 100%

		&__link
			visibility: hidden
			opacity: 0
			position: absolute
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(51, 51, 51, 0.7)
			z-index: 2
			display: flex
			justify-content: center
			align-items: center
			transition: visibility 0s linear 0.5s, opacity 0.5s ease-out
			a
				color: #fff
				text-decoration: none
				text-transform: lowercase
				font-weight: 800
				width: 80px
				height: 40px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 20px
				background-color: rgba(255, 255, 255, 0.4)

		&:hover &__link
			visibility: visible
			opacity: 1
			transition-delay: 0s

		img
			width: 100%
			height: 100%
			object-fit: cover
			position: absolute
			top: 0
			
		&__date
			position: absolute
		  top: 0
			transform: translateY(-100%)
			width: 100%
			z-index: 2
			text-align: center
			color: #fff
			font-weight: 700
			background-color: rgba($mainColor, 0.8)
			padding: 5px

	&__block
		padding: 5px 0
		color: #333
    
		&__title
			font:
				family: 'Open Sans'
				size: 1rem
				weight: 800
			margin-bottom: 4px	
			span
				font-size: 1.3rem
			@include tablet
				font-size: 1.15rem
				span
					font-size: 1.5rem

		&__text
			font-size: 1rem
			font-family: 'Muli'

			&__artist
				font-weight: 700

			&__album
				font-size: 0.85rem
				font-weight: 300
				margin-top: 2px
				color: #4c4c4c
				
		
		&__genres
			font-weight: 300
			font-size: .9rem
			line-height: 18px

@supports (display: grid) 
	.cards
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 20px
		@include small
			grid-template-columns: repeat(3, 1fr)			
		@include tablet
			grid-template-columns: repeat(4, 1fr)
		@include desktop
			grid-template-columns: repeat(5, 1fr)
				
		.card
			width: auto
			height: auto
			margin: 0