@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700,800')
@import url('https://fonts.googleapis.com/css?family=Rammetto+One|Roboto:400,700')
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700')

$backgroundColor: #f4f4f4
$mainColor: indianred

$boxShadow: 0 1px 2px rgba(0,0,0,0.07)

html
	height: 100%

body
	// background-color: $backgroundColor
	font-family: 'Muli'
	min-height: 100%
	padding-top: 60px
	@include tablet
		// padding-left: 200px
		padding-top: 70px	

*
	box-sizing: border-box