.home
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	&__link a
		color: #fff
		font-weight: 400
		padding: 20px
		background-color: orangered
		font-size: 1.2rem
		text-decoration: none
		display: inline-block
		border-radius: 0.3rem
