.navbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 0 20px
  background-color: #FFF
  font-family: 'Muli', sans-serif
  z-index: 5
  box-shadow: $boxShadow
  transition: all 0.5s ease-out

  @include tablet
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 40px

  &__title
    font-size: 1.6rem
    font-weight: 300
    margin: 15px 0

    span
      font-weight: 700
    a
      color: $mainColor
      text-decoration: none 

  &__bars
    width: 30px
    height: 20px
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    &:after, &:before, &__middle
      height: 3px
      content: ''
      position: absolute
      background-color: #333
    &:after
      width: 100%
      top: 0
    &:before
      width: 100%      
      bottom: 0  
    &__middle
      width: 70%
      top: 50%
      right: 0
      transition: width .3s ease-out
      transform: translateY(-50%)

    @include tablet
      display: none

  &__links
    display: none
    font-weight: 300
    transition: all .3s
    &__link 
      color: #333
      text-decoration: none
      margin: 10px
      &.active
        font-weight: 700
    @include tablet
      display: flex
      justify-content: center

  &__logout
    background-color: $mainColor
    padding: 8px 14px
    display: none
    a 
      color: #FFF
      text-decoration: none
      font-weight: 700
    @include tablet
      display: block  

  &.open
    @include tillTablet
      .navbar
        &__bars__middle
          width: 100%
      .mobile-nav
        visibility: visible
        opacity: 1
        z-index: 4
        transform: scale(1)


  .mobile-nav
    background-color: #F0F0F0
    position: fixed
    top: 62px
    bottom: 0
    left: 0
    right: 0
    padding: 10px 30px
    visibility: hidden
    opacity: 0
    z-index: -10
    transform: scale(.9)
    transition: all .3s ease-out
    
    @include tablet 
      display: none
    
    ul 
      list-style: none
      padding: 0
      margin: 0
    
    li 
      margin: 20px 0
      height: 60px
      a 
        border-radius: 5px
        color: #333
        text-decoration: none
        font-family: 'muli', sans-serif
        height: 60px
        display: inline-flex
        padding: 10px
        justify-content: center
        align-items: center
        width: 100%
        font-size: 18px
        transition: .3s
        &.active
          background-color: $mainColor
          color: #FFF
